.music-player {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#playlist button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0099ff;
    color: white;
    border: none;
    border-radius: 4px;
}

#playlist button:hover {
    background-color: #000000;
}

#audioPlayer {
    width: 100%;
    margin-top: 20px;
}

body{
    background: black;
}

h1{
    color:lime;
    text-align:center;
}

p{
    color:lime;
    text-align:center;
    font-size:70px;
}
